
		body { background-color: #2bfafa;
			  color: red
			  
			  
		 }


        .paragrapheA {
			font-family: Arial;
			
	     }



	.z:visited{color:yellow;}
	.z:hover{color:green;} 





























