
        body { background-color: #2bfafa;
			  color: red
			  
			  
		 }


        .paragraphe2 {
			font-family: Helvetica;
			
	     }


	.z:visited{color:yellow;}
	.z:hover{color:green;}














