
         body { background-color: #2bfafa;
			  color: red
			  
			  
		}

    .paragraphe1 {
			font-family: Arial;
			
	     }



    .z:visited{color:yellow;}
	.z:hover{color:green;}
















